<div class="content-container">
  <div class="content-box-wrapper">
    <div class="content-wrapper find-and-book">
      <div class="find-and-book-wrapper">
        <div class="find-and-book-text">
          Find and book activities for your favorite sport.
        </div>
        <%= button_tag 'Search bases', class: 'dashboard-action-button find-and-book-button' %>
      </div>
    </div>
  </div>
  <div class="smaller-dashboard-wrapper">
    <div class="smaller-content-wrapper base-creation">
      <div class="base-creation-wrapper">
        <div class="base-creation-text">
          Administrate your own bases.
        </div>
        <div class="base-creation-text-small">
          Do you own one or more sports bases and want to administrate them easier? Create your own administration account. Here is how:
        </div>
        <%= button_tag 'Create administration account', class: 'dashboard-action-button base-creation-button' %>
      </div>
    </div>
    <div class="smaller-content-wrapper create-account">
      <div class="create-account-wrapper">
        <div class="create-account-text">
          Create your own user account so you can book an hour for your favorite sport.
        </div>
        <%= button_tag 'Create user account', class: 'dashboard-action-button create-account-button' %>
      </div>
    </div>
  </div>
</div>
