<div class="content-container">
  <div class="content-box-wrapper">
    <div class="admin-content">
      <div class="admin-content-info">
        <div class="admin-content-info-header">
          Online bookings for sports bases.
        </div>
        <div class="admin-content-info-text">
          Manage all your courts and bookings from a single platform.
        </div>
        <div class="admin-content-info-text">
          Forget about all the hours spent on calls with enthusiasts that want to book an hour for one of your courts.
          Now, you can do that easily, only with one click.
        </div>
        <%= button_tag 'Get started', class: 'get-started-admin-button' %>
      </div>
      <div class="admin-content-img-wrapper">
        <%= image_tag 'admin_index.png', class: 'admin-index-img' %>
      </div>
    </div>
  </div>
</div>
