.dashboard-container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.dashboard-wrapper {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-wrapper {
  border-radius: 16px;
  color: white;
  width: 100%;
}

.find-and-book {
  background-color: #0e620e;
  height: 300px;
  background-image: url("find_and_book_dashboard.jpg");
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.find-and-book-wrapper {
  margin-left: 60px;
  max-width: 50%;
}

.find-and-book-text {
  font-size: 40px;
  margin-right: 50px;
  margin-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
  font-weight: bolder;
}

.dashboard-action-button {
  background-color: white;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
  letter-spacing: .05em;
  box-shadow: 0 0 0.625em;
  cursor: pointer;
}

.find-and-book-button {
  color: #f82b18;
  height: 50px;
  padding: 5px 60px;
  font-size: 20px;
}

.smaller-dashboard-wrapper {
  max-width: 1080px;
  width: 100%;
  display: flex;
  margin-top: 25px;
}

.smaller-content-wrapper {
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #666666;
  justify-content: center;
}

.base-creation {
  width: 70%;
  height: 200px;
  background-image: url("sport_base_dashboard.gif");
}

.base-creation-wrapper {
  margin-left: 30px;
  max-width: 60%;
}

.base-creation-text {
  font-size: 25px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
  font-weight: bolder;
}

.base-creation-text-small {
  font-size: 14px;
  margin-right: 15px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
}

.base-creation-button {
  color: #45c2b1;
  height: 40px;
  padding: 5px 40px;
  font-size: 16px;
}

.create-account {
  width: 30%;
  height: 200px;
  margin-left: 30px;
  background-image: url("create_account_dashboard.gif");
}

.create-account-wrapper {
  margin-left: 30px;
  max-width: 100%;
}

.create-account-text {
  font-size: 18px;
  margin-right: 30px;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif, serif;
  font-weight: bolder;
}

.create-account-button {
  color: #0e620e;
  font-size: 16px;
  height: 40px;
  padding: 5px 40px;
}

