<header>
  <div class="header-wrapper">
    <div class="app-logo">
      <%= image_tag 'sporty_icon.jpg', class: 'app-logo' %>
    </div>
    <div class="header-actions">
      <%= button_tag 'I own a sports base', class: 'header-button own-base-button' %>
      <%= button_tag 'Sign in', class: 'header-button sign-in-button' %>
    </div>
  </div>
</header>
